.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 10%;
  text-align: center;
}

.login {
  font-size: medium;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 25vw;
  height: 40vh;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50vw;
  height: 90vh;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meme img {
  width: 100%;
  height: auto;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50vw;
  height: 90vh;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .login-box {
    width: 60vw;
    height: 60vh;
  }
}
